<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <%= locals.title ? locals.title : 'Dashboard' %>
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/admin/category/add-category">
      <button type="button" class="btn btn-sm btn-outline-primary">Add Category</button>
    </a>
  </div>
</div>


<div class="container">
  <% if (success.length > 0) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  <% if (err.length > 0) { %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <%= err %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
   
</div>

<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">List/Unlist</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% categories.forEach((category,index)=> { %>
        <tr class="align-middle">
          <td>
            <%= index+1 %>
          </td>
          <td class="text-capitalize">
            <%= category.name.toLowerCase() %>
          </td>
          <td>
            <img height="50px" width="50px" src="/uploads/category-images/<%= category.image %>" alt=""
              class="img-fluid">
          </td>
          <td class="status"  id="status-<%= category._id %>">
            <% if (category.status) { %>
              listed
              <% } else { %>
                unlisted
                <% } %>
          </td>
          <td class="text-center">
            <div class="d-flex flex-row justify-content-center">
              <% if (category.status) { %>
                <button class="btn btn-danger btn-sm" onclick="changeStatus('<%- category._id %>', 'unlist')">
                  <i class="bi bi-slash-circle-fill"></i> Unlist
                </button>
                <% } else { %>
                  <button class="btn btn-success btn-sm" onclick="changeStatus('<%- category._id %>', 'list')">
                    <i class="bi bi-check-circle-fill"></i> List
                  </button>
                  <% } %>
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex flex-row justify-content-center">
              <a href="/admin/view-category/<%= category._id%>">
                <button class="btn btn-primary btn-sm mx-1">
                  <i class="bi bi-eye"></i>
                </button>
              </a>
              <a href="/admin/edit-category/<%= category._id%>">
                <button class="btn btn-warning btn-sm mx-1">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </a>
              <button onclick="deleteCategory('<%- category._id %>')" class="btn btn-danger btn-sm mx-1">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <% }) %>

    </tbody>
  </table>
</div>


<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
  integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- JavaScript -->

<script>
  async function deleteCategory(categoryId) {
    try {
      const result = await swal({
        icon: 'warning',
        title: 'Are you sure??',
        text: 'Once deleted, you will not be able to recover this!',
        buttons: {
          cancel: true,
          confirm: "Confirm",
        }
      });

      if (result) {
        const response = await axios.delete(`/admin/category/delete-category/${categoryId}?_method=DELETE`);

        if (response.status === 200) {
          swal("Deleted!", "Category has been deleted.", "success").then(() =>{
            window.location.reload()
          });
        }
      } else {
        swal("Cancelled", "Category deletion cancelled.", "error");
      }
    } catch (err) {
      console.log(err);
      swal("Oh noes!", "The request failed!", "error");
    }
  }

  // list/unlist
  async function changeStatus(categoryId, status) {
    try {
      const result = await axios.patch(`/admin/category/change-category-status/${categoryId}?_method=PATCH`, {
        status
      })

      console.log(result)

      if (result.status === 200) {
        swal("Success!", result.data, "success").then(() => {
          // Refresh the page
          window.location.reload();
        })
      }

    } catch (err) {
      console.log(err)
      swal("Oh noes!", "The request failed!", "error");
    }
  }

</script>