<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <%= locals.title ? locals.title : 'Dashboard' %>
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="/category/add-category"></a>
      <button type="button" class="btn btn-sm btn-outline-primary">Add Category</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>


<div class="container">
  <% if (typeof success !=='undefined' || typeof err !=='undefined' ) { %>
    <% if (success) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>
          <%= success %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
        <% if (err) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
              <%= err %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
            <% } %>
</div>

<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">List/Unlist</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% categories.forEach((category,index)=> { %>
        <tr class="align-middle">
          <td>
            <%= index+1 %>
          </td>
          <td>
            <%= category.name %>
          </td>
          <td>
            <img height="50px" width="50px" src="/uploads/category-images/<%= category.image %>" alt=""
              class="img-fluid">
          </td>
          <td>
            <% if (category.status) { %>
              listed
              <% } else { %>
                unlisted
                <% } %>
          </td>
          <td class="text-center">
            <div class="d-flex flex-row justify-content-center">
              <% if (category.status) { %>
                <form action="/admin/category/unlist-category/<%= category._id%>?_method=PATCH" method="POST">
                  <button class="btn btn-danger btn-sm">
                    <i class="bi bi-slash-circle-fill"></i> Unlist
                  </button>
                </form>
                <% } else { %>
                  <form action="/admin/category/list-category/<%= category._id%>?_method=PATCH" method="POST">
                    <button class="btn btn-success btn-sm">
                      <i class="bi bi-check-circle-fill"></i> List
                    </button>
                  </form>
                  <% } %>
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex flex-row justify-content-center">
              <button class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></button>
              <button class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></button>
              <form action="/admin/category/delete-category/<%= category._id%>?_method=DELETE" method="POST"
                class="position relative">
                <button class="btn btn-danger btn-sm mx-1">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>

    </tbody>
  </table>
</div>