<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= locals.title ? locals.title : 'Dashboard' %>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>

<section class="site-section">
    <div class="container">
        <div class="row container">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>OrderId</th>
                        <th>Payment</th>
                        <th>Amount</th>
                        <th>Order Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                
                <tbody>
                <% orders.forEach((order) => { %>
                    <tr>


                    
                    <td><%= order.createdAt %> </td>
                    <td><%= order._id %> </td>
                    <td><%= order.paymentMethod %> </td>
                    <td><%= order.totalPrice %> </td>
                    <td id="order-status-<%= order._id %>"> <% if(order.orderStatus) { %> <%= order.orderStatus %> <% } else { %> Pending <% } %> </td>
                    <td>
                        <% if (order.orderStatus  === 'Confirmed' || order.orderStatus === 'Shipping') { %>
                            <div class="dropdown-center" id="dropdown-<%= order._id %>">
                                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Status</button>
                                <div class="dropdown-menu bg-light text-dark" aria-labelledby="dropdownMenuButton1">
                                    <% if( order.orderStatus === 'Confirmed'){ %>
                                        <a id="delivered-<%= order._id %>" onclick="changeOrderStatus('Delivered','<%= order._id %>')" class="text-dark dropdown-item">Delivered</a>
                                        <a id="shipping-<%= order._id %>" onclick="changeOrderStatus('Shipping','<%= order._id %>')" class="text-dark dropdown-item">Shipping</a>
                                        <a id="cancelled-<%= order._id %>" onclick="changeOrderStatus('Cancelled','<%= order._id %>')" class="text-dark dropdown-item">Cancelled</a>
                                    <% } else { %>
                                        <% if( order.orderStatus === 'Shipping' ){ %>
                                            <a id="delivered-<%= order._id %>" onclick="changeOrderStatus('Delivered','<%= order._id %>')" class="text-dark dropdown-item">Delivered</a>
                                            <a id="cancelled-<%= order._id %>" onclick="changeOrderStatus('Cancelled','<%= order._id %>')" class="text-dark dropdown-item">Cancelled</a>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        <% } else if (order.orderStatus === 'Pending') { %>
                            <div class="dropdown" id="dropdown-<%= order._id %>">
                                <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Status</button>
                                <div class="dropdown-menu bg-light text-dark" aria-labelledby="dropdownMenuButton1">
                                    <a id="cancelled-<%= order._id %>" onclick="changeOrderStatus('Cancelled','<%= order._id %>')" class="text-dark dropdown-item">Cancelled</a>
                                </div>
                            </div>
                        <% } %>

                </td>
            </tr>
                <% }) %>
                </tbody>
                    
            </table>
        </div>
    </div>
</section>



<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Javascript for changeOrderStatus -->

<script>
    async function changeOrderStatus(status,orderId){

        const changeStatus = await axios.patch('/admin/orders/change-order-status',{status,orderId})
        if( changeStatus.data.status === 'Shipping'){
            const shipping = document.getElementById(`shipping-${orderId}`)
            const orderStatus = document.getElementById(`order-status-${orderId}`)
            orderStatus.innerHTML = changeStatus.data.status

            
        }
        if(changeStatus.data.status === 'Delivered' || changeStatus.data.status === 'Cancelled'){
            const dropdown = document.getElementById(`dropdown-${orderId}`)
            const orderStatus = document.getElementById(`order-status-${orderId}`)
            orderStatus.innerHTML = changeStatus.data.status

        }

        if(changeStatus.status === 200) {
            swal({
                title: "Success",
                text: "Status Updated",
                icon: "success"
            })
        }
    }
</script>
