<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Cart</strong></div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <% if (cartItems && cartItems.items.length > 0) { %>
         
            <div class="row mb-5">
                <form class="col-md-12" action="" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-sm table-bordered ">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cartItems.items.forEach((item,index) => { %>
                                    <tr>
    
                                        <td class="product-thumbnail">
                                            <img src="/uploads/product-images/<%- item.productId.image[0]  %> " alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black"><%= item.productId.name %> </h2>
                                        </td>
                                        <td>$<%= item.productId.price %></td>
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-primary js-btn-minus"
                                                        type="button" onclick="decCartItem('<%= item.productId._id %>')">&minus;</button>
                                                </div>
                                                <input type="text" class="form-control text-center" value="<%- item.quantity %> " placeholder=""
                                                    aria-label="Example text with button addon"
                                                    aria-describedby="button-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary js-btn-plus"
                                                        type="button" onclick="incCartItem('<%= item.productId._id %>')">&plus;</button>
                                                </div>
                                            </div>
        
                                        </td>
                                        <td id="productTotal">$ <%= cartTotalPrice.items[index].totalPrice %> </td>
                                        <td><button onclick="deleteCartItem('<%= item.productId._id %> ')" class="btn btn-primary btn-sm">X</button></td>
                                    </tr>
                                <% }) %>
    
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <button class="btn btn-primary btn-sm col-md-3 col-lg-2 mx-1">Update Cart</button>
                        <button class="btn btn-outline-primary btn-sm col-md-3 col-lg-2">Continue Shopping</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$ <%= cartTotalPrice.totalPriceOfCart %> </strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$230.00</strong>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-sm py-3"
                                        onclick="window.location='/checkout'">Proceed To Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <% } else { %>
            
            <div class="row md-5">
                <div class="col md-6 text-center">
                    <h2 class="h1">
                        Cart is empty...
                    </h2>
                    <h3>
                        <a href="/shop">
                            <button class="btn btn-lg btn-primary">Shop Now</button>
                        </a>
                    </h3>
                </div>
            </div>

        <% } %>

        
    </div>
</div>

<!-- Axios Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Javascript for Add to Cart -->

<script>

    let quantityEl = document.querySelector('itemQuantity').innerHTML()

    async function incCartItem( productId ){
        try {

            console.log(productId)
            const res = await axios.post(`/change-cart-item/${productId}`, {
                changeType: 'increase'
            })


        }catch(error) {
            console.log(error.message)
        }
    }

    async function decCartItem( productId ) {
        try {
    
            const res = await axios.post(`/change-cart-item/${productId}`, {
                changeType: 'decrease'
            })
            
            console.log(quantityEl)
    
        }catch(error) {
            console.log(error.message)
        }
    }

    async function deleteCartItem( productId ) {
        try {
    
            console.log(productId)
            const res = await axios.post(`/delete-cart-item/${productId}`)
    
    
        }catch(error) {
            console.log(error.message)
        }
    }


</script>