<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Select Shipping Address</h2>
                <div class="row">

                    <% address.forEach((items, index) => { %>
                        <div class="col-md-11 card m-2">
                            <div class="card-body">
                                <input type="radio" id="address-<%= items._id %>" name="addressId" value="<%= items._id %>"
                                <% if (index === 0) { %>checked<% } %>>
                                
                                <label for="address-<%= items._id %>">
                                    <%= items %>
                                </label>
                            </div>
                        </div>
                    <% }) %>
                        <div class="col-md-11 card m-2">
                            <div class="card-body">
                                <a href="/user/add-address">
                                    <button class="btn btn-primary btn-small">
                                        <i class="bi bi-plus"></i>
                                        Add Address
                                    </button>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                        <div class="p-3 p-lg-5 border">

                            <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                            <div class="input-group w-75">
                                <input type="text" class="form-control" id="c_code" placeholder="Coupon Code"
                                    aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" type="button"
                                        id="button-addon2">Apply</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-2">
                                <thead>
                                    <th>Product</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                     
                                    <% cartTotal.items.forEach((item,index) => { %>
                                        <tr>
                                            <td><%= item.productName %>  <strong class="mx-2">x</strong> <%= item.itemQuantity %> </td>
                                            <td>$ <%= item.totalPrice %> </td>
                                        </tr>
                                    <% }) %>

                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                        <td class="text-black">$<%= cartTotal.totalPriceOfCart %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>$<%= cartTotal.totalPriceOfCart %></strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <hr> 

                            <div class="mb-2" style="display: flex; flex-direction: column; font-weight: 700;">
                                <h6 class="mb-3"><b>Payment Method</b></h6>
                                <div>
                                    <input type="radio" id="COD" name="paymentMethod" value="COD">
                                    <label for="COD">Cash on Delivery</label>
                                </div>
                                <div>
                                    <input type="radio" id="razorpay" name="paymentMethod" value="razorpay">
                                    <label for="razorpay">Razorpay</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-lg py-3 btn-block"
                                    onclick="placeOrder()">Place Order</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>


<!-- Axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Javascript for Placing Order -->

<script>
    async function placeOrder() {
        const addressRadio = document.querySelector('input[name="addressId"]:checked');
        const paymentMethodRadio = document.querySelector('input[name="paymentMethod"]:checked');

        if (!addressRadio || !paymentMethodRadio){
            swal('Warning', 'Please select an address and payment method!!', 'warning')
            return;
        }

        const addressId = addressRadio.value
        const paymentMethod = paymentMethodRadio.value

        try {
            const response = await axios.post('/place-order', {
                addressId: addressId,
                paymentMethod: paymentMethod
            });

            if(response.status === 200) {
                swal({
                    icon: 'success',
                    title: 'Success',
                    text: response.data.message,
                }).then((result) => {
                    console.log(result)
                    location.href = "/order-confirm";
                })
                
                ;
                
            }

        } catch (error) {
            swal({
                icon: 'error',
                title: 'Oops...',
                text: 'There was an error placing your order',
            });
        }
    }
</script>
