<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Contact</strong></div>
        </div>
    </div>
</div>

<div class="container border p-5 w-100 mt-5 mb-5 pt-5">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col bg-dark">
                    <img src="/uploads/profile-images/<%- userData.avatar %> " alt="" class="img-fluid">
                </div>
                <div class="col d-flex flex-column">
                    Details

                    <ul>
                        <li><span class="h4 fw-bold">Name :</span> <%= userData.firstName + ' ' + userData.lastName %> </li>
                        <li><span class="h4 fw-bold">Email :</span> <%= userData.email %> </li>
                        <li><span class="h4 fw-bold">Phone :</span> <%= userData.phone %> </li>
                        <li><span class="h4 fw-bold">Registration Date :</span> <%= userData.createdAt.toUTCString() %> </li>
                        <li><span class="h4 fw-bold"></span></li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    Orders
                </div>
                <div class="col">
                    Cart
                </div>
                <div class="col">
                    History
                </div>
                <div class="col">
                    <a href="/user/profile/edit">
                        Edit Bio
                    </a>
                </div>
                <div class="col">
                    Change Password
                </div>
            </div>

            <hr>

        </div>
    </div>

</div>